# env.example
# Default paths on local Windows laptop
# default
DATA_DIR="data"
OUTPUT_DIR="output"
WRDS_USERNAME=""
START_DATE_01="1996-01-01"
END_DATE_01="2012-01-31"
START_DATE_02="2012-01-01"
END_DATE_02="2019-12-31"